body {
	font-family: "IBM Plex Mono", monospace;
	min-height: 120vh;
}

header {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	text-align: center;
	font-weight: 700;
	font-size: 28px;
	color: #2962ff;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 18px;
	text-align: center;
	color: #00b8d4;
}

hr {
	margin: 0;
	padding: 0;
	border: none;
	background-color: #c2c2c2;
	height: 1px;
}

p {
	font-weight: 700;
	font-size: 14px;
}

.container {
	margin: 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tooltip {
	color: #2962ff;
	position: absolute;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 5px 10px;
	border-radius: 3px;
	border: 1px solid #f44336;
	pointer-events: none;
	display: none;
}

.legend {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.box {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 0;
	margin-left: 20px;
}

.repo-one-color {
	background-color: #2962ff;
}

.repo-two-color {
	background-color: #00b8d4;
}

.repo-three-color {
	background-color: #f44336;
}

.repo-one {
	color: #2962ff;
}

.repo-two {
	color: #00b8d4;
}

.repo-three {
	color: #f44336;
}
